@font-face {
    font-family: Roboto-Bold;
    src: url("./Roboto-Bold.ttf");
}
*{
    box-sizing: border-box;
    user-select: none;
}
body{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto-Bold", Times, serif;
    background-color: rgba(255,255,255,1);
}
.major-wrapper{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto-Bold", Times, serif;
    background-color: rgba(255,255,255,1);
}
.logo-div{
    margin: auto;
    width: 33rem;
    height: 100%;
    position: fixed;
    top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*add the logo somewhere here.*/
    /*background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}
.bigger-logo{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.upper-menu{
    width: 100%;
    height: 4rem;
    padding: 0rem;
    margin: 0rem;
    position: sticky;
    top: 0.001rem;
    margin-bottom: 1rem;
    background-color: rgba(0,0,0,1);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    backdrop-filter: blur(10rem);
}
.upper-menu .login-signup{
    width: auto;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 2rem;
    cursor: pointer;
}
.upper-menu .login-signup:hover{
    color: green;
}
@media screen and (max-width: 1200px){
    div.img-wrapper .presenter-img{
        position: absolute;
        bottom: -10%;
        left: 25%;
        width: 50%;
        height: 110%;
        border-radius: 0.5rem;
    }
    div.main-div{
        margin-top: 2.5rem;
        justify-content: space-evenly;
        gap: 0rem;
    }
    .main-div div.live-video{
        height: 80vh;
    }    
    div.main-div div.current-presenter-portfolio{
        padding: 0rem 2rem;
    }
    div.main-div div.current-presenter-portfolio h2{
        margin-top: 0;
        padding-top: 0;
    }
    div.trendy-wrapper{
        width: 92%;
    }
}
@media screen and (max-width: 591px){
    .main-div div.live-video{
        height: 60vh;
    }    
    div.trending-videos{
        min-width: 50%;
        flex-wrap: nowrap;
    }
    div.trendy-wrapper{
        width: 96%;
    }
    div.single-video{
        width: 15rem;
        height: 36vh;    
        flex-grow: 0;
    }

}

@media screen and (max-width: 850px) {
    .upper-menu .other-options{
        display: none;
        visibility: hidden;   
    }
    div.img-wrapper .presenter-img{
        position: absolute;
        bottom: -10%;
        left: 25%;
        width: 50%;
        height: 110%;
        border-radius: 0.5rem;
    }
    div.bottom-slide-wrapper .current-show-name{
        font-size: 1rem;
        height: 100%;
    }
    .upper-menu .login-signup{
        padding-right: 5rem;
    }
    .live-stream div{
        width: auto;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        margin: 0;
    }
    .live-stream hr{
        border: 0.2rem solid blue;
        background-color: blue;
        margin: 0;
    }
    .main-div{
        margin-top: 2.5rem;
    }
    
}
@media screen and (min-width: 850px) {
    .upper-menu .fa-bars{
        display: none;
        visibility: hidden;
    }
}
.upper-menu span.fa{
    margin-right: 0.35rem;
    font-size: 1.7rem;
    z-index: 10;
}
.other-options{
    width: auto;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
.upper-menu .fa-bars{
    color: white;
    font-size: 1.7rem;
    position: absolute;
    right: 0.2rem;
    cursor: pointer;
}
.upper-menu .fa-close{
    color: red;
    font-size: 1.7rem;
    position: absolute;
    right: 0.2rem;
    cursor: pointer;
}
.hidden{
    display: none;
    visibility: hidden;
}
.active{
    display: flex;
    visibility: visible;
}
.other-options .opt{
    width: auto;
    height: 2rem;
    color: rgba(255,255,255,1);
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid blue;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.other-options .opt:hover{
    color:blue;
    border-bottom: 0.2rem solid rgba(255,255,255,1);   
}
.menu-logo{
    width: 10rem;
    /*height: 3.5rem;*/
    height: 100%;
    background-color: rgba(255,255,255,1);
    position: relative;
    left: 0rem;
    column-gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;   
}
.brand-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.4rem;
    color: rgba(82,7,10,1);
    font-family: 'Roboto-Bold', Times, serif;
}
.toggled-menu{
    background-color: black;
    color: white;
    width: 50%;
    height: auto;
    backdrop-filter: blur(20rem);
    position: fixed;
    top: 4rem;
    right: 0rem;
    display: none;
    visibility: hidden;
    flex-direction: column;
    gap: 3rem;
    padding: 0.8rem 1.3rem;
    /*toggled menu here is using the z-index of the parent*/ 
}
.toggled-menu.active{
    display: flex;
    visibility: visible;
}
.toggled-menu .opt{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.toggled-menu .opt:hover{
    border-bottom: 0.2rem solid green;
}
.footer{
    width: 100%;
    height: 20vh;
    padding: 0.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
    position: relative;
    bottom: 0rem;
}
.social-handles{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: blue;
    font-size: 2.5rem;
    width: auto;
    height: auto;
    align-items: center;
    overflow: hidden;
}
.copyright-info{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.copyright-class{
    display: flex;
    gap: 1rem;
}
.dala-div{
    color: blue;
}


/*contact us page*/
div.contact-us-card{
    width: 80%;
    min-height: 65vh;
    background-color: white;
    display: flex;
    gap: 2rem;
    row-gap: 0rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    border-radius: 1rem;
    box-shadow: 0.01rem 0.01rem 0.5rem -1px black,0.1rem 0.1rem 0.5rem -1px blue;
}
@media screen and (max-width:991px) {
    div.contact-us-card{
        width: 96%;
    }    
}
div.left-side{
    padding: 1rem 1rem;
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;
}
input.text{
    width: 100%;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    box-shadow: 0.01rem 0.01rem 0.5rem -1px black,0.1rem 0.1rem 0.5rem -1px blue,inset 0.01rem 0.01rem 0.05rem -1px black,inset 0.1rem 0.1rem 0.05rem -1px blue;
    box-sizing: border-box;    
}
input.text::placeholder{
    color: rgba(0,0,255,0.5);
}
button.send{
    width: 90%;
    font-weight: bold;
    font-size: 1.3rem;
    height: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: rgba(0,0,0,0.5);
    background-color: rgba(0,0,255,0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button.send span{
    color: blue;
    font-size: 1.5rem;
}
div.right-side{
    /*width: 50%;
    height: 100%;*/
    width: 30rem;
    height: 30rem;
    background-image: url("./dalaFm_rounded_logo.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width:591px) {
    div.right-side{
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
    }
    div.right-side div.contact-social-handles{
        align-items: center;
    }
}
div.right-side h2{
    width: 100%;
    text-align: center;
    color: blue;
}
div.right-side .contact-social-handles{
    width: 90%;
    height: 30%;
    text-size-adjust: 0.6rem;
    background-color: transparent;
    color: blue;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
div.right-side .contact-social-handles .fa-brands{
    color: blue;
    text-align: center;
    display: flex;
    align-items: center;
}
div.right-side .contact-social-handles span.text{
    margin-left: 0.8rem;
    font-size: 0.8rem;
    color: black;
}
div.location-map{
    width: 100%;
    height: 70%;
    background-color: blue;
}
a{
    color: blue;
    text-decoration: none;
}
input{
    font-weight: bold;
    color: blue;
}
@media screen and (max-width:991px) {
    .social-handles{
        font-size: 1.4rem;
    }  
    .copyright-info{
        font-size: 0.6rem;  
        gap: 1rem;   
    }
    .copyright-class{
        font-size: 1rem;
    } 
    .dala-div{
        font-size: 1rem;
    }
}
.left-side .contact-title{
    color: blue;
    font-size: 1.3rem;
}