@font-face {
    font-family: Roboto-Bold;
    src: url("./Roboto-Bold.ttf");
}
*{
    box-sizing: border-box;
    user-select: none;
}
body{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto-Bold", Times, serif;
    background-color: rgba(255,255,255,1);
}
.major-wrapper{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: "Roboto-Bold", Times, serif;
    background-color: rgba(255,255,255,1);
}
.logo-div{
    margin: auto;
    width: 33rem;
    height: 100%;
    position: fixed;
    top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*add the logo somewhere here.*/
    /*background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}
.bigger-logo{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.upper-menu{
    width: 100%;
    height: 4rem;
    padding: 0rem;
    margin: 0rem;
    position: sticky;
    top: 0.001rem;
    margin-bottom: 1rem;
    background-color: rgba(0,0,0,1);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    backdrop-filter: blur(10rem);
}
.upper-menu .login-signup{
    width: auto;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 2rem;
    cursor: pointer;
}
.upper-menu .login-signup:hover{
    color: green;
}
@media screen and (max-width: 1200px){
    div.img-wrapper .presenter-img{
        position: absolute;
        bottom: -10%;
        left: 25%;
        width: 50%;
        height: 110%;
        border-radius: 0.5rem;
    }
    div.main-div{
        margin-top: 2.5rem;
        justify-content: space-evenly;
        gap: 0rem;
    }
    .main-div div.live-video{
        height: 80vh;
    }    
    div.main-div div.current-presenter-portfolio{
        padding: 0rem 2rem;
    }
    div.main-div div.current-presenter-portfolio h2{
        margin-top: 0;
        padding-top: 0;
    }
    div.trendy-wrapper{
        width: 92%;
    }
}
@media screen and (max-width: 591px){
    .main-div div.live-video{
        width: 100%;
        margin: 0;
        height: 50vh;
    }   
    .main-div div.live-video video{
        width: 100%;
    } 
    div.trending-videos{
        width: 78%;
        flex-wrap: nowrap;
    }
    div.trendy-wrapper{
        width: 96%;
    }
    div.single-video{
        width: 98%;
        height: 36vh;    
        flex-grow: 0;
    }

}

@media screen and (max-width: 850px) {
    .upper-menu .other-options{
        display: none;
        visibility: hidden;   
    }
    div.img-wrapper .presenter-img{
        position: absolute;
        bottom: -10%;
        left: 25%;
        width: 50%;
        height: 110%;
        border-radius: 0.5rem;
    }
    div.bottom-slide-wrapper .current-show-name{
        font-size: 1rem;
        height: 100%;
    }
    .upper-menu .login-signup{
        padding-right: 5rem;
    }
    .live-stream div{
        width: auto;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        margin: 0;
    }
    .live-stream hr{
        border: 0.2rem solid blue;
        background-color: blue;
        margin: 0;
    }
    .main-div{
        margin-top: 2.5rem;
    }
    
}
@media screen and (min-width: 850px) {
    .upper-menu .fa-bars{
        display: none;
        visibility: hidden;
    }
}
.upper-menu span.fa{
    margin-right: 0.35rem;
    font-size: 1.7rem;
    z-index: 10;
}
.other-options{
    width: auto;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
.upper-menu .fa-bars{
    color: white;
    font-size: 1.7rem;
    position: absolute;
    right: 0.2rem;
    cursor: pointer;
}
.upper-menu .fa-close{
    color: red;
    font-size: 1.7rem;
    position: absolute;
    right: 0.2rem;
    cursor: pointer;
}
.hidden{
    display: none;
    visibility: hidden;
}
.active{
    display: flex;
    visibility: visible;
}
.other-options .opt{
    width: auto;
    height: 2rem;
    color: rgba(255,255,255,1);
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid blue;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.other-options .opt:hover{
    color:blue;
    border-bottom: 0.2rem solid rgba(255,255,255,1);   
}
.menu-logo{
    width: 10rem;
    /*height: 3.5rem;*/
    height: 100%;
    background-color: rgba(255,255,255,1);
    position: relative;
    left: 0rem;
    column-gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;   
}
.brand-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.4rem;
    color: rgba(82,7,10,1);
    font-family: 'Roboto-Bold', Times, serif;
}
.live-stream{
    width: auto;
    height: 3rem;
    position: fixed;
    top: 4.5rem;
    right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 0rem;
    color: white;
    border-radius: 2rem;
    overflow: hidden;
    z-index: 20;
}
.live-stream span.fa{
    margin-right: 0.5rem;
}
.live-stream div{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.7rem;
    cursor: pointer;
}
.live-stream .watch-now{
    background-color: blue;
}
.live-stream .listen-now{
    background-color: green;
}
.live-stream hr{
    height: 100%;
    border: 0.17rem solid white;
}
.toggled-menu{
    background-color: black;
    color: white;
    width: 50%;
    height: auto;
    backdrop-filter: blur(20rem);
    position: fixed;
    top: 4rem;
    right: 0rem;
    display: none;
    visibility: hidden;
    flex-direction: column;
    gap: 3rem;
    padding: 0.8rem 1.3rem;
    /*toggled menu here is using the z-index of the parent*/ 
}
a{
    text-decoration: none;
}
.toggled-menu.active{
    display: flex;
    visibility: visible;
}
.toggled-menu .opt{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.toggled-menu .opt:hover{
    border-bottom: 0.2rem solid green;
}


/* the video frame styling */
.main-div{
    width: 100%;
    min-height: 70vh;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0.5rem 0.5rem;
}
.sliding-highlights{
    width: 100%;
    height: 1rem;
}
.live-video{
    width: 50rem;
    height: 35rem;
    display: flex;
    flex-grow: 1;
    position: relative;
    margin-left: 1rem;
}
@media screen and (max-width: 591px) {
    div.live-video{
        width: 22rem;
        height: 22rem;
    }
}
.actual-video{
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index: 2;
}

#live-logo{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
.live-station-tag{
    width: 10rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
}
.live-station-tag span{
    font-size: 1.5rem;
    color: white;
}
.live-tag{
    position: absolute;
    top: 2rem;
    left: 1rem;
    color: red;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    z-index: 5;
}
div.live-tag{
    z-index: 5;
}
.fa-dot-circle{
    font-size: 0.8rem;
}
.current-show-name{
    width: auto;
    height: 100%;
    position: relative;
    font-size: 1.5rem;
    color: white;
    background-color: blue;
    padding: 0.5rem 1rem;
    margin: 0;
}
.bottom-slide-wrapper{
    width: 98%;
    height: 3rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0rem;
    padding: 0;
    z-index: 3;
}
.live-video button.hostName{
    position: absolute;
    top: 4.5rem;
    left: 2rem;
}
.sliding-highlights{
    margin: 0;
    width: 79%;
    height: 100%;
    position: relative;
    background-color: black;
    color: white; 
    display: flex;
    align-items: center;   
}
.current-presenter-portfolio{
    width: 25rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    background-color: transparent;
    padding: 2rem 2rem;
    position: relative;
    margin-top: 2.5rem;
    box-sizing: border-box;
    z-index: 1;
}
.current-presenter-portfolio h2.presentation-title{
    color: rgba(0,0,255,1);
    text-align: center;    
}
.actual-presenter-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    margin: 0;
    background-color: rgba(0,0,255,0.1);
    border-radius: 0.5rem;
    box-shadow: 0.01rem 0.01rem 0.2rem black;
}
.img-wrapper{
    width: 100%;
    height: 50%;
    position: relative;
}
.background-div{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.presenter-img{
    position: absolute;
    bottom: -10%;
    left: 7rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}
.presenter-title{
    color: rgba(0,0,255,1);
    font-size: 1.2rem;
    text-align: center;
}
.current-presenter-portfolio .bottom-div{
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0rem 1rem;
}
.presenter-bio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.5);
}
.trendy-wrapper{
    width: 98%;
    height: 40vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.trending-videos{
    width: 93%;
    height: 40vh;
    margin: 0;
    padding: 0rem 1rem;
    background-color: transparent;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /*flex-wrap: nowrap;*/
    box-sizing: border-box;
    cursor: grab;
    overflow-x: auto;
    overflow-y: hidden;
}
.trendy-wrapper .left-button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 3;
    left: 0rem;
    top: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.trendy-wrapper .left-button .fa{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}
span.fa,span.fa-brands,span.fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trendy-wrapper .right-button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 3;
    right: 0rem;
    top: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.trendy-wrapper .right-button .fa{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}
.trending-videos::-webkit-scrollbar{
    display: none;
}
/*
.trending-videos::-webkit-scrollbar:active{
    cursor: grab;
}*/
.single-video{
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: 19rem;
    height: 38vh;
    overflow: hidden;
    background-color: rgba(0,0,255,0.1);
    background-image: url("./nairobi-town.jpg");
    background-size: cover;
    border-radius: 0.5rem;
    position: relative;
    padding: 0.5rem;
    border-radius: 1rem;
}
.single-video div{
    z-index: 2;
}
.trendy-title{
    color: white;
    background-color: blue;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}
.bottom-div{
    width: 94%;
    height: 50%;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    overflow: hidden;
    z-index: 3;
}
.bottom-div .news-title{
    font-size: 1.4rem;
    width: 100%;
    height: 1.8rem;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,1);
}
.bottom-div .news-details{
    font-size: 1rem;
    width: 100%;
    height: 2.6rem;
    overflow: hidden;
    text-align: center;
    font-weight: lighter;
    color: rgba(0,0,0,0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer{
    width: 100%;
    height: 20vh;
    padding: 0.5rem;
    position: relative;
    bottom: 0rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}
.social-handles{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: blue;
    font-size: 2.5rem;
    width: auto;
    height: auto;
    align-items: center;
    overflow: hidden;
}
.copyright-info{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.copyright-class{
    display: flex;
    gap: 1rem;
}
.dala-div{
    color: blue;
}
a{
    color: blue;
    text-decoration: none;
}
@media screen and (max-width:991px) {
    .social-handles{
        font-size: 1.4rem;
    }  
    .copyright-info{
        font-size: 0.6rem;  
        gap: 1rem;   
    }
    .copyright-class{
        font-size: 1rem;
    } 
    .dala-div{
        font-size: 1rem;
    }
}
